/* Project reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* If we set font size as pixel, user won't be able to change font size on the browser */
  /* (they can change but it will not affect the root font size as we specify it here as px */
  font-size: 62.5%;
  font-family: "Helvetica Neue", sans-serif; }

/* Body is parent of all elements */
/* All styles are inherited */
/* Add box-sizing so height+width of element includes padding */
body {
  box-sizing: border-box;
  color: #fff; }

.container {
  background-color: #c3c3c3;
  font-size: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 8rem 30rem; }

.title, .info, .logo, .status {
  background-color: brown;
  padding: 1rem 2rem; }

.status-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr; }

.home-container {
  background-color: #c3c3c3;
  font-size: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto; }

.tournament-preview, .game-tour, .footer {
  background-color: brown;
  padding: 1rem 2rem; }

.tour-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  text-align: center; }

.hot-btn, .ongoing-btn, .comming-btn, .finish-btn {
  background-color: black;
  color: #fff;
  border: none;
  min-width: 15.5rem;
  min-height: 5rem; }

.tour-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto); }
  .tour-info h1 {
    grid-column: 1/7; }
  .tour-info p {
    grid-column: 1/9; }
  .tour-info .lft-btn {
    grid-column: 7/8;
    min-width: 4rem;
    margin: 0.5rem; }
  .tour-info .rth-btn {
    grid-column: 8/9;
    min-width: 4rem;
    margin: 0.5rem; }
  .tour-info .tour {
    grid-area: 3/1/3/9;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, auto); }
    .tour-info .tour .tour-img {
      display: flex;
      background-color: gray;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-row: 1/5;
      min-height: 20rem; }
    .tour-info .tour .team-count {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-row: 1/4; }
      .tour-info .tour .team-count p {
        font-size: 7rem; }
      .tour-info .tour .team-count .join-btn {
        background-color: lightsalmon;
        border: none;
        color: #fff;
        min-height: 5rem; }
    .tour-info .tour .prize {
      display: flex;
      background-color: lightgreen;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-area: 4/2/5/3;
      min-height: 5rem; }

.game-tour {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem; }
  .game-tour .game-tour-title {
    display: grid;
    grid-template-columns: repeat(3, auto); }
  .game-tour a {
    color: #fff;
    text-decoration: none;
    font-size: 3rem; }
  .game-tour .lft-btn {
    min-width: 4rem;
    margin: 0.5rem; }
  .game-tour .rth-btn {
    min-width: 4rem;
    margin: 0.5rem; }
  .game-tour .page-select {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .game-tour .page-select .page-lft-btn {
      min-width: 4rem; }
    .game-tour .page-select .page-rth-btn {
      min-width: 4rem; }

.footer h1 {
  padding: 1rem; }
