/* Project reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* If we set font size as pixel, user won't be able to change font size on the browser */
  /* (they can change but it will not affect the root font size as we specify it here as px */
  font-size: 62.5%;
  font-family: "Helvetica Neue", sans-serif; }

/* Body is parent of all elements */
/* All styles are inherited */
/* Add box-sizing so height+width of element includes padding */
body {
  box-sizing: border-box;
  color: #fff; }

.container {
  background-color: #c3c3c3;
  font-size: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 8rem 30rem; }

.title, .info, .logo, .status {
  background-color: brown;
  padding: 1rem 2rem; }

.status-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr; }

.home-container {
  background-color: #c3c3c3;
  font-size: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto; }

.tournament-preview, .match-table, .select-game, .footer {
  background-color: brown;
  padding: 1rem 2rem; }

.tour-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  text-align: center; }

.hot-btn, .ongoing-btn, .comming-btn, .finish-btn {
  background-color: black;
  color: #fff;
  border: none;
  min-width: 15.5rem;
  min-height: 5rem; }

.tour-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto); }
  .tour-info h1, .tour-info p {
    grid-column: 1/7; }
  .tour-info .lft-btn {
    grid-column: 7/8;
    min-width: 4rem;
    margin: 0.5rem; }
  .tour-info .rth-btn {
    grid-column: 8/9;
    min-width: 4rem;
    margin: 0.5rem; }
  .tour-info .tour {
    grid-area: 3/1/3/9;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, auto); }
    .tour-info .tour .tour-img {
      display: flex;
      background-color: gray;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-row: 1/5;
      min-height: 20rem; }
    .tour-info .tour .team-count {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-row: 1/4; }
      .tour-info .tour .team-count p {
        font-size: 7rem; }
      .tour-info .tour .team-count .join-btn {
        background-color: lightsalmon;
        border: none;
        color: #fff;
        min-height: 5rem; }
    .tour-info .tour .prize {
      display: flex;
      background-color: lightgreen;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-area: 4/2/5/3;
      min-height: 5rem; }

.match-table h1 {
  text-align: center;
  padding: 1rem; }

.match-table .match-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  text-align: center; }
  .match-table .match-menu .past-btn, .match-table .match-menu .today-btn, .match-table .match-menu .comming-btn {
    background-color: black;
    color: #fff;
    border: none;
    min-width: 20rem;
    min-height: 5rem; }

.match-table .match-list .match {
  display: grid;
  padding: 0 1.5rem;
  grid-template-columns: repeat(5, auto);
  grid-gap: 6rem;
  justify-content: center;
  width: 100%; }
  .match-table .match-list .match .match-img {
    display: flex;
    background-color: gray;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 6rem;
    height: 6rem; }
  .match-table .match-list .match p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }

.select-game h1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem; }

.game-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  justify-items: center; }

.game-img {
  background-color: gray;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 20rem; }

.footer h1 {
  padding: 1rem; }
