/* Project reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* If we set font size as pixel, user won't be able to change font size on the browser */
  /* (they can change but it will not affect the root font size as we specify it here as px */
  // This defines what 1 rem is, basically
  font-size: 62.5%;
  font-family: "Helvetica Neue", sans-serif;
}

/* Body is parent of all elements */
/* All styles are inherited */
/* Add box-sizing so height+width of element includes padding */
body {
  box-sizing: border-box;
  color: #fff;
}

//index

.container {
  //width: 54.8rem;
  //padding: 3rem;
  //margin: 3rem auto;
  background-color: #c3c3c3;
  font-size: 2rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 8rem 30rem;
}

.title,.info,.logo,.status{
  background-color: brown;
  padding: 1rem 2rem;
}

.status-info{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

//home

.home-container {
  //width: 54.8rem;
  //padding: 3rem;
  //margin: 3rem auto;
  background-color: #c3c3c3;
  font-size: 2rem;
  
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
                    //  1     2     3    4     5

}

//all

.tournament-preview,.game-tour,.footer{
  background-color: brown;
  padding: 1rem 2rem;
}

//tournament

.tour-menu{
  display: grid;
  grid-template-columns: repeat(4,auto);
  justify-content: center;
  text-align: center;
}

.hot-btn,.ongoing-btn,.comming-btn,.finish-btn{
background-color: black;
color: #fff;
border: none;
min-width: 15.5rem;
min-height: 5rem;
}

.tour-info{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(4,auto);

  h1{
    grid-column: 1/7;
  }
  p{
    grid-column: 1/9;
  }
  .lft-btn{
    grid-column: 7/8;
    min-width: 4rem;
    margin: 0.5rem;
  }
  .rth-btn{
    grid-column: 8/9;
    min-width: 4rem;
    margin: 0.5rem;
  }
  .tour{

    grid-area: 3/1/3/9;

    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4,auto);

    .tour-img{
      display: flex;
      background-color: gray;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-row: 1/5;

      min-height:20rem;
    }
    .team-count{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-row: 1/4;
      
      p{
        font-size: 7rem;
      }

      .join-btn{
        background-color: lightsalmon;
        border: none;
        color: #fff;
        min-height: 5rem;
      }

    }
    .prize{
      display: flex;
      background-color: lightgreen;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      grid-area: 4/2/5/3;
      min-height: 5rem;
    }
  }
}

//game-tournament

.game-tour{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;

.game-tour-title{
  display: grid;
  grid-template-columns: repeat(3,auto);
}

  a{
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
  }

  .lft-btn{
    min-width: 4rem;
    margin: 0.5rem;
  }
  .rth-btn{
    min-width: 4rem;
    margin: 0.5rem;
  }

  .page-select{
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-gap: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    .page-lft-btn{
      min-width: 4rem;
    }
    .page-rth-btn{
      min-width: 4rem;
    }
  
  }

}

//footer

.footer h1{
padding: 1rem;
}